.atas{
    width: 1512px; 
    height: 871px; 
    position: relative; 
    background: white
}

form{
    position: absolute;
}

.Rectangle1{
    width: 1512px; 
    height: 871px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: linear-gradient(113deg, #62D999 0%, rgba(143.30, 176.37, 158.52, 0.01) 100%, rgba(11.95, 26.56, 18.67, 0) 100%)
}

.Kosmat{
    left: 249px; 
    top: 59px; 
    position: absolute; 
    color: white; 
    font-size: 24px; 
    font-family: Poppins; 
    font-weight: 700; 
    word-wrap: break-word
}

.Group1{
    width: 310px; 
    height: 44px; 
    left: 200px; 
    top: 529px; 
    position: absolute
}

.box-input1 input{
    width: 440px; 
    height: 44px;
    left: 200px; 
    top: 224px;
    position: absolute; 
    background: rgba(255, 255, 255, 0.70); 
    border-radius: 12px; 
    border: 1px #0B3617 solid;
}


.box-input2 input{
    width: 440px; 
    height: 44px; 
    left: 200px; 
    top: 285px;
    position: absolute; 
    background: rgba(255, 255, 255, 0.70); 
    border-radius: 12px; 
    border: 1px #0B3617 solid
}

.box-input3 input{
    width: 310px; 
    height: 44px; 
    left: 200px; 
    top: 346px;
    position: absolute; 
    background: rgba(255, 255, 255, 0.70); 
    border-radius: 12px; 
    border: 1px #0B3617 solid
}

.box-input4 input{
    width: 310px; 
    height: 44px; 
    left: 200px; 
    top: 407px;
    position: absolute; 
    background: rgba(255, 255, 255, 0.70); 
    border-radius: 12px; 
    border: 1px #0B3617 solid
}

.box-input5 input{
    width: 310px; 
    height: 44px; 
    left: 200px; 
    top: 468px;
    position: absolute; 
    background: rgba(255, 255, 255, 0.70); 
    border-radius: 12px; 
    border: 1px #0B3617 solid
}

.box-input6 input{
    width: 310px; 
    height: 44px; 
    left: 200px; 
    top: 529px; 
    position: absolute; 
    background: rgba(255, 255, 255, 0.70); 
    border-radius: 12px; 
    border: 1px #0B3617 solid
}

.box-input7 input{
    width: 310px; 
    height: 44px; 
    left: 200px; 
    top: 590px;
    position: absolute; 
    background: rgba(255, 255, 255, 0.70); 
    border-radius: 12px; 
    border: 1px #0B3617 solid
}

.btn_input{
    border-radius: 12px;
    width: 310px; 
    height: 44px;
    left: 200px; 
    top: 670px;
    position: absolute; 
    color: white;
    background-color: rgba(10.84, 54.19, 22.66, 0.70); 
    font-size: 13px; 
    font-family: Poppins; 
    font-weight: 600; 
    word-wrap: break-word;
    cursor: pointer;
    transition: all;
    letter-spacing:1px; 
}

.btn_input:hover{
    background: #0B3617;
    color: white;
    letter-spacing:1px; 
}

.box-input1 input:hover{
    background: #d9d9d9  ;
    color: black;
}

.box-input2 input:hover{
    background: #d9d9d9;
    color: black;
}

.box-input3 input:hover{
    background: #d9d9d9;
    color: black;
}

.box-input4 input:hover{
    background: #d9d9d9;
    color: black;
}

.box-input5 input:hover{
    background: #d9d9d9;
    color: black;
}

.box-input6 input:hover{
    background: #d9d9d9;
    color: black;
}

.box-input7 input:hover{
    background: #d9d9d9;
    color: black;
}

.logreg{
    width: 556px; 
    height: 556px; 
    left: 829px; 
    top: 161px; 
    position: absolute; 
}

.icon{
    width: 38px; 
    height: 35px; 
    left: 200px; 
    top: 50px; 
    position: absolute;
}

.Daftar{
    width: 114px; 
    height: 36px; 
    left: 233px; 
    top: 156px;
    position: absolute; 
    color: #0B3617; 
    font-size: 24px; 
    font-family: Poppins; 
    font-weight: 600; 
    word-wrap: break-word
}

.Arrow{
    width: 24px; 
    height: 24px; 
    left: 200px; 
    top: 156px;
    position: absolute; 
    color: #0B3617; 
    font-size: 24px; 
    font-family: Poppins; 
    font-weight: 600; 
    word-wrap: break-word
}

#prrow{
    position: absolute;
    cursor: pointer;
}
